.center {
    text-align: center;
}
h3{
    margin-top: 20px;
    margin-bottom: 30px
}
form{
    margin-left: 100px;
    margin-right: 150px   
}
#generatedPassword{
    text-align: center;
    background-color: lightgray;
    font-style: italic;    
}